* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: black;
}

a:hover {
    color: #39FF14;
}

body {
    font-family:'Courier New', Courier, monospace; 
}

.main {
    display: flex;
}

header {
    height: 100vh;
}

header, footer {
    margin: 20px;
}

nav ul li {
    list-style-type: none;
    padding: 40px 0px 40px 0px;
    max-width: 60%;
    margin: auto;
}

.content {
    max-width: 80vw;
    margin: 20px;
    height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;  /* hide scroll bar IE and Edge */
    scrollbar-width: none; /* hide scroll bar firefox*/
}

.content::-webkit-scrollbar {
    display: none;
}

.section-title {
    font-size: 3em;
    margin: 0 0 40px 0;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    width: 30%;
}

.about {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}

.about-img {
    flex: 1;
}

.about-p {
    flex: 2;
}

.about img {
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}

.flex-row {
    display: flex;
}

.section-border {
    border: 3px solid red;
    margin: 20px 0 20px 0;
    border-radius: 25px;
    padding: 40px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.projects h2 {
    margin-bottom: 10px;
}

.projects img {
    width: 100%;
    border-radius: 25px;
}

.projects img:hover {
    opacity: 0.5;
}

#first-project {
    flex: 2 2 5%;
}

.project-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px
}

.contact {
    margin: 40px 0px 40px 0px;
    justify-content: space-around;
}

footer {
    padding: 40px 0px 40px 0px;
    text-align: center;
}

/*Small Screens & Laptops */
@media screen and (max-width: 1080px) {
    .about {
        flex-direction: column;
    }

    .projects {
        flex-direction: column;
        gap: 80px;
    }
    .project-column {
        gap: 80px;
    }
    
}

/* Tablets */
@media screen and (max-width: 1024px) {
    .contact {
        flex-direction: column;
        gap: 20px;
    }

}

/* Mobile Devices */
@media screen and (max-width: 780px) {

    .main {
        flex-flow: column wrap;
        justify-content: space-around;
    }

    header {
        height: unset;
        margin-bottom: 0px;
    } 

    header h1 {
        text-align: center;
    }

    br {
        display: none;
    }

    .content {
        overflow: revert;
        margin-top: 0px;
        max-width: revert;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 90px;
    }

    nav ul li {
        flex: 1; 
        padding: 0px;

    }
}