body {
    font-family:'Courier New', Courier, monospace
}

.flex-row {
    display: flex;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    flex: 1;
}

.project img {
    width: 100%;
}
