* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family:'Courier New', Courier, monospace; 
}

.main {
    display: flex;
}

.main h1 a {
    color: black;
}

header, footer {
    margin: 20px;
}

nav ul li {
    list-style-type: none;
    padding: 40px 0px 40px 0px;
    max-width: 60%;
    margin: auto;
}

.content {
    max-width: 80vw;
    margin: 20px;
}

.section-title {
    font-size: 3em;
    margin: 0 0 40px 0;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    width: 30%;
}

.about {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}

.about-img {
    flex: 1;
}

.about-p {
    flex: 2;
}

.about img {
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}

.flex-row {
    display: flex;
}

.section-border {
    border: 3px solid red;
    margin: 20px 0 20px 0;
    border-radius: 25px;
    padding: 40px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.projects h2 {
    margin-bottom: 10px;
}

.projects img {
    width: 100%;
    border-radius: 25px;
}

#first-project {
    flex: 2 2 5%;
}

.project-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px
}

.contact {
    margin: 40px 0px 40px 0px;
    justify-content: space-around;
}

footer {
    text-align: center;
}