* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace; 
}

.main {
    display: flex;
}

.main h1 a {
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, footer {
    margin: 20px;
}

nav ul li {
    list-style-type: none;
    padding: 40px 0px 40px 0px;
    max-width: 60%;
    margin: auto;
}

.content {
    max-width: 80vw;
    margin: 20px;
}

.about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.about img {
    display: flex;
    flex: 1;
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    padding: 20px;
    border-radius: 25px;
}

.about p {
    display: flex;
    flex: 2;
    padding: 20px;
}

.flex-row {
    display: flex;
}

.section-border {
    border: 3px solid red;
    margin: 20px 0 20px 0;
    border-radius: 25px;
    padding: 40px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    flex: 1;
}

.project img {
    width: 100%;
}
