body {
    font-family:'Courier New', Courier, monospace; 
}

.main {
    display: flex;
}

header {
    max-width: 20vw;
    margin: 20px;
}

header h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

nav ul li {
    margin: 80px 0 80px 0;
}

.content {
    max-width: 80vw;
    margin: 20px;
}

.about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.about img {
    display: flex;
    flex: 1;
    width: 100%;
}

.about p {
    display: flex;
    flex: 2;
}

.flex-row {
    display: flex;
}

.section-border {
    border: 3px solid red;
    margin: 20px 0 20px 0;
    border-radius: 25px;
    padding: 40px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    flex: 1;
}

.project img {
    width: 100%;
}
